
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons"></i></span>
        <input type="text" class="form-control" placeholder="NIT" aria-label="nit" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons">person</i></span>
        <input type="text" class="form-control" placeholder="Nombre del cliente" aria-label="namecliente" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons">contact_mail</i></span>
        <input type="email" class="form-control" placeholder="cliente@gmail.com" aria-label="Email" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons">pin_drop</i></span>
        <input type="text" class="form-control" placeholder="10A Calle 13-92, Cdad. de Guatemala" aria-label="Telefono" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons">phone_iphone</i></span>
        <input type="number" class="form-control" placeholder="77667898" aria-label="Telefono" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons">credit_card</i></span>
        <input type="number" class="form-control" placeholder="456123789456" aria-label="Email" aria-describedby="basic-addon1">
      </div>
      <button type="button" class="btn btn-primary">Aceptar</button>
    </div>
    <div class="col-lg-6">
      <img src="https://templates.invoicehome.com/modelo-factura-es-franja-azul-750px.png" alt="">

    </div>

  </div>
</div>
