<div class="container">
  <div class="row mt-5">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="material-icons">search</i>
      </span>
      <input type="search" class="form-control" placeholder="Fifa 2024 pc" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-8">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Cant</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">subTotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>PlayStation 5</td>
            <td>Q5,000</td>
            <td>Q 5,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <th>2</th>
            <td>Xbox Series X</td>
            <td>Q 4,000</td>
            <td>Q 4,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <th>1</th>
            <td>PlayStation 5</td>
            <td>Q5,000</td>
            <td>Q 5,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <th>2</th>
            <td>Xbox Series X</td>
            <td>Q 4,000</td>
            <td>Q 4,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <th>1</th>
            <td>PlayStation 5</td>
            <td>Q5,000</td>
            <td>Q 5,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <th>2</th>
            <td>Xbox Series X</td>
            <td>Q 4,000</td>
            <td>Q 4,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <th>1</th>
            <td>PlayStation 5</td>
            <td>Q5,000</td>
            <td>Q 5,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <th>2</th>
            <td>Xbox Series X</td>
            <td>Q 4,000</td>
            <td>Q 4,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <th>1</th>
            <td>PlayStation 5</td>
            <td>Q5,000</td>
            <td>Q 5,000</td>
            <td> <i class="material-icons">delete</i></td>
          </tr>
        </tbody>
      </table>
      <a href="cajero/factura">
        <button type="button" class="btn btn-primary">Generar factura</button></a>
    </div>
    <div class="col-lg-4">
      <h1>Elden Ring para PlayStation 4</h1>
      <samp><strong>Marca:</strong>Sony</samp> <br>
     <span>¡Disponible!</span>
      <h2>Q602.00</h2>
      <p>Especificaciones</p>
      <p>
        Plataforma: PS4
        Lanzamiento: 25/2/2022
        Editor: Bandai Namco Entertainment America Inc.
        Género: Juegos De Rol
        Voz: Inglés
        Idiomas de pantalla: Español, Francés (Francia), Inglés, Portugués (Brasil)
      </p>
    </div>
  </div>
</div>
