<div class="container">
  <div class="container mt-3">
    <h5 class="mb-2  title">Generar venta</h5>
      <div class="container">
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="codigo"> Código</label>
              <input type="text"   (keydown)="onSearchCode($event)"  class="form-control" id="codigo" value="{{producto.codigo}}"
                placeholder="Codigo" required>

            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="nombre"><i class="fas fa-tag"></i> Nombre</label>
              <input type="text"  (keydown)="onSearchName($event)" class="form-control" id="nombre" value="{{producto.nombre}}"
                placeholder="Nombre del producto" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="cantidad"><i class="fas fa-sort-numeric-up"></i>
                Cantidad</label>
              <input type="number" class="form-control" id="cantidad" value="{{producto.existencia}}" max="{{producto.existencia}}"
                placeholder="cantidad" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="precio"><i class="fas fa-dollar-sign"></i> Precio
                Unitario</label>
              <input type="text" class="form-control" id="precio" value="{{producto.precio}}"
                placeholder="Q 0.00" readonly>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="subtotal"><i class="fas fa-calculator"></i>
                Subtotal</label>
              <input type="number" class="form-control" id="subtotal"
                placeholder="Subtotal" readonly>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <br>
              <button  (click)="agregar()" type="submit" class=" form-control btn btn-primary"><i
                  class="fas fa-save"></i>Agregar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion"><i class="fas fa-comment-dots"></i>
          Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3"
          placeholder="Ingrese una descripción">
          {{producto.descripcion}}
        </textarea>
      </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-12 d-flex justify-content-end">
      <div class="col-lg-5 d-flex justify-content-end gap-4">
        <span class="total">Total Q500,000</span>
        <button type="submit" class=" form-control btn btn-factura"><i
            class="fas fa-save"></i>Generar Factura</button>
      </div>
    </div>

    <div class="col-lg-12 mt-2">
      <table class="table table-sm  table-hover table-borderless">
        <thead>
          <tr class="table-primary">
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Sub total</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>