

<div class="container d-flex justify-content-center" style="height: 100vh;"> 
    <div class="row" style="width: 100%;" >
        <div class="col-lg-12">
            <div class="d-flex justify-content-center mt-5 mb-3">
                <h5>Productos Registrados</h5>
              </div>
              <table class="table table-borderless table-hover ">
                  <thead>
                      <tr class="table-primary">
                          <th scope="col">Codigo</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Cantidad</th>
                          <th scope="col">categoria</th>
                      </tr>
                      <tr *ngFor="let producto of videojuego"  >
                        <td  scope="row" >{{ producto.codigo }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{producto.categoria}}</td>
                      </tr>

                      <tr *ngFor="let product of cosola">
                        <td  scope="row" >{{ product.codigo }}</td>
                        <td>{{ product.nombre }}</td>
                        <td>{{ product.cantidad }}</td>
                        <td>{{product.categoria}}</td>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
          </div>
    </div>
</div>