<div class="containera">
  <div class=" barra">
    <div class="ms-auto">
      <i class="material-icons">logout</i>
    </div>
  </div>

  <div class="row ">
    <div class="col-lg-2 col-sm-12 col-md-2 menu">
      <h1>2</h1>
      <samp>No. caja</samp>
      <ul>
        <li>
        <a routerLink="/venta">
          <i class="material-icons">person</i>
          <samp>Cliente</samp>
        </a>
        </li>
        <li>
          <i class="material-icons">point_of_sale</i>
          <samp>Generar venta</samp>
        </li>
        <li>
          <i class="material-icons">wysiwyg</i>
          <samp>Descuentos</samp>
        </li>
      </ul>
    </div>
    <div class="col-lg-10 col-sm-12 col-md-6">
      <app-venta></app-venta>
  </div>
</div>
