<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">schedule</i></span>
                <input type="date" class="form-control" placeholder="10A Calle 13-92, Cdad. de Guatemala" aria-label="Dirección" aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">schedule</i></span>
                <input type="date" class="form-control" placeholder="77667898" aria-label="Teléfono" aria-describedby="basic-addon1">
              </div>
        </div>

        <div class="col-lg-12">
            <table class="table">
                <thead class="table-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                  </tr>
                </tbody>
              </table>
              
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>

</div>