
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-6">
      <img class="img-fluid" src="https://i.postimg.cc/SKQdn8sV/Screenshot-2024-08-03-144901.png">

      <p class="text-secondary" style="text-align: justify;">
        <strong>GamerProXela</strong>
        es una empresa líder en la distribución de
        <strong>consolas y videojuegos</strong>
        , ofreciendo una amplia gama de productos tanto al por mayor como al detalle. Nos especializamos en brindar a
        nuestros clientes las últimas novedades del mundo gamer
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6  d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="row col-lg-8 col-sm-12">
        <div class="d-flex justify-content-center align-items-center">
          <img  class="img-fluid" src="https://i.postimg.cc/J0G8QGhW/account-circle-24dp-20153-C-FILL0-wght400-GRAD0-opsz24.png" alt="logo-user" style="width: 100px;">
        </div>
       <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"></label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <i class="material-icons">person</i>
              </span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <i class="material-icons">lock</i>
              </span>
              <input type="password" class="form-control" placeholder="password" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="d-grid gap-2 col-12 mx-auto">
            <button class="btn btn-secondary" type="button">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


