

.container{
  height: 90vh;
  width: 100%;
}
.container-total{
  display: flex;
  flex-direction: column;
}
.label-nit{
  width: 340px;
  margin-right: 5px;

}
.msj{
  text-align: center;
  color: red;
  font-weight: bold;
  margin-right: 50px;
}