<div class="containera">
  <div class="row">
    <div class="col-lg-2 col-sm-12 col-md-2 menu">
      <h1>2</h1>
      <samp>No. caja</samp>
      <ul>
        <li routerLink="factura">
          <i class="material-icons">person</i>
          <samp>Cliente</samp>
        </li>
        <li routerLink="venta">
          <i class="material-icons">point_of_sale</i>
          <samp>Generar venta</samp>
        </li>
        <li routerLink="descuento">
          <i class="material-icons">wysiwyg</i>
          <samp>Descuentos</samp>
        </li>

        <div class="dropdown pb-4 mt-5">
          <a href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30"
              height="30"
              class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">Area de cajero</span>
          </a>
          <ul class="dropdown-menu  text-small shadow"
            aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Cerrar</a></li>
          </ul>
        </div>
      </ul>
    </div>
    <div class="col-lg-10 col-sm-12 col-md-6  d-flex justify-content-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
