<div class="container mt-5" >
  <div class="row mt-10">
      <div class="col-lg-6">
        <div class="d-flex justify-content-center mb-3">
            <span>Registro de sucursal</span>
          </div>
          <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
           <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="material-icons">qr_code_2</i></span>
              <input type="text" class="form-control" placeholder="codigo sucursal-0178" aria-label="namecliente" aria-describedby="basic-addon1"  formControlName="codeBranch" required="">
          </div>
          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="material-icons">person</i></span>
              <input type="text" class="form-control" placeholder="Nombre de la sucursal" aria-label="namecliente" aria-describedby="basic-addon1" formControlName="name" required="">
          </div> 
          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="material-icons">contact_mail</i></span>
              <input type="email" class="form-control" placeholder="cliente@gmail.com" aria-label="Email" aria-describedby="basic-addon1" formControlName="email" required="">
          </div>
          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="material-icons">pin_drop</i></span>
              <input type="text" class="form-control" placeholder="10A Calle 13-92, Cdad. de Guatemala" aria-label="Dirección" aria-describedby="basic-addon1" formControlName="address">
              <span class="input-group-text" id="basic-addon1"><i class="material-icons">phone_iphone</i></span>
              <input type="number" class="form-control" placeholder="77667898" aria-label="Teléfono" aria-describedby="basic-addon1" formControlName="phone">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="material-icons">schedule</i></span>
            <input type="time" class="form-control" placeholder="10A Calle 13-92, Cdad. de Guatemala" aria-label="Dirección" aria-describedby="basic-addon1" formControlName="timeOpen">
            <span class="input-group-text" id="basic-addon1"><i class="material-icons text-red ">schedule</i></span>
            <input type="time" class="form-control" placeholder="77667898" aria-label="Teléfono" aria-describedby="basic-addon1" formControlName="timeClosed">
          </div>
          <div class="input-group mb-3">
            <button type="submit" class="form-control bg-primary btn text-white"  aria-label="Contraseña" aria-describedby="basic-addon1">Registrar</button>
        </div>
        </form>
      </div>    
      <div class="col-lg-6">
        <div class="d-flex justify-content-center mb-3">
            <span>Sucursales</span>
          </div>
          <table class="table">
              <thead>
                  <tr class="table-primary">
                      <th scope="col">Codigo</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Direccion</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Su-001</td>
                      <td>Sucursal Parque</td>
                      <td>Zona 2 Kiche</td>
                      <td><i class="bi bi-pen-fill"></i></td>
                      <td><i class="bi bi-trash-fill"></i></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  
</div>